.achievementLocked {
    width: 95px;
    height: 95px;
    background-color: rgb(75, 75, 75);
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin: 2px;
    font-size: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 0, 0);
    overflow: hidden;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.achievementUnlocked {
    width: 95px;
    height: 95px;
    background-color: rgb(75, 75, 75);
    color: rgb(0, 255, 0);
    font-weight: bold;
    margin: 2px;
    font-size: 12px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 255, 0);
    overflow: hidden;
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.achievementReward-container {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    margin: 5px;
    width: 50%;
    max-width: 50%;
}