.automation-container {
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
}

.automator {
    width: 200px;
    height: 150px;
    margin: 2px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
}